*{
    margin: 0px;
}
p{
    color: blueviolet;
    font-size: 100px;
    text-align: center;
}
.red{
    color: orangered;
    font-size: large;
    
}
h1,h2 ,h3 , h4 , h5,h6{
    color:gray;
    text-align: center;
    background-color: red;
}
h3#purple{
    color: rgb(100, 245, 89);
}